body{ margin:0px 0px; }




  #hero{
    background-image: url(../img/ruby.jpg);
    background-size:cover;
    position:relative;
    height:50vh;
  }

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:80%;
  color:#fff;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  

}

#content{
  padding:30px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
}

#content h2{
  margin:0px 0px 30px 0px;
}

#footer{
  padding:30px 0px;
  text-align:center;
  background:#ddd;
}

nav {
    width: 100%;/*
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-right: none;*/
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    /*border-left: 1px solid #fff;
    border-right: 1px solid #ccc;*/
    width: 20%; /* fallback for non-calc() browsers */
    width: calc(100% / 5);
    box-sizing: border-box;
}

/*nav ul li:first-child {
    border-left: none;
}*/

nav ul li a {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
}

nav ul li a:hover{
  text-decoration: underline;
  color: #000;
}